.logo
    margin-left: 110px
    display: flex
    align-items: center
    height: 55px
    margin-bottom: 5px
    margin-top: 5px
    
.header
    position: fixed
    left: 0
    top: 0
    width: 100%
    z-index: 99
    background-color: $gray
    font-family: 'Comfortaa', cursive
    color: $headerwhite
    text-decoration: none
    &__up
        &:hover
            ul
                display: block
        ul
            display: none

    &__hidensocialin
        display: none
        margin-right: 5px
        margin-left: 5px
        color: $headerwhite
        transform-style: 0.3s
        border-bottom: 1px solid $purple
        &:hover
            color: $white
            
    &__menu
        display: flex
        flex-direction: row
        justify-content: space-between
        
    &__nav
        justify-content: center
        display: flex
        align-items: center
        list-style: none
        ul
            border-radius: 10px
            top: 27px
            background-color: $gray
            padding-left: 5px
            list-style: none   
            position: absolute
            min-width: 140px   
            li  
                padding: 10px 
                a 
                    &:hover
                        color: $white  
        a
            color: $headerwhite
    &__socialin
        margin-right: 5px
        margin-left: 5px
    &__text
        color: $headerwhite
        text-transform: uppercase
        font-size: 12px
        border-bottom: 1px solid $purple
.header
    &__nav
        ul
            &:hover
                display: block
.social
    display: flex
    flex-direction: row
    align-items: center
    margin-right: 15px
.nav
    &__item
        font-family: 'Comfortaa', cursive
        text-transform: uppercase
        color: $headerwhite
        font-weight: 500
        margin-left: 10px
        margin-right: 10px
        text-decoration: none
        font-size: 16px
        transition: 0.2s
        &:hover
            cursor: pointer
            color: $white
            border-bottom: 2px solid $purple
        
        

    